@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Oswald;
  scroll-behavior: smooth;
}

.nav-items-me>ul>li>a{
  text-decoration: none;
  color: inherit;
}

body{
  background-color: #132020 !important;

}

.up>a{
  position: fixed;
  align-self: center;
  text-align: center;
  justify-content: center;
  top: 99%;
  left: 99%;
  transform: translate(-99%, -99%);
  color:white;
  font-size: 3rem;
  transition:0.5s ease;
  z-index: 3;
}

.up>a:hover{
  font-size: 3.5rem;
  color:chocolate;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold !important;
}